* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Roboto",sans-serif;
}

.outer{
    width:100%;
    min-height:88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerBox{
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width:55vw;
    height:83vh;
    background-color: white;
}

.title{
    font-family: "Roboto",sans-serif;
    color:rgb(1,126,126);
    font-size: large;
    font-weight: bold;
    margin-left: 1.7em;
    margin-top: 1em;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.1em;
}
.issueBox{
    margin-top: 0.8em;
    width: 50vw;
    border-radius: 1.2em;
    height:58vh;
    margin-left: 3.7em;
    padding: 1.8em;
    resize: none ;
}
.btn{
    margin-top: 0.2em;
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
}
.submitbtn{
    background-color: transparent;
    font-family: "Roboto",sans-serif;
    border:2px solid white;
    border-radius: 0.4em;
    padding:0.3em 0.8em;
    color: #fff;
    cursor: pointer;
    font-size: 1.4em;
    background-color: rgb(1,126,126);
    
}

.issueBox::placeholder{
    text-align: top;
    font-size: 1.4em;
}
.wordcount{
    margin-right: 1.5em;
    font-size: 1.1em;
    color:rgb(1,126,126)
}
.btn{
    display: flex;
    align-items: center;
}
.info{
    margin-left: 3em;
    color: #949fb2;
    font-size: large;
}
