*{
    font-family: Roboto,sans-serif;
}
.outer{
    height:88vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246,246,246);
}

.box {
    background-color: white;
    display: flex;
    justify-content: center;
    height:66vh;
    border: 10px solid white;
    border-radius: 0.7em;
}
.box_left{
    background-color: rgb(1,126,126);
    border-radius: 0.5em;
    width: 19vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userLogImg{
    max-width: 90%;
    max-height: 100%;
}

.box_right{
    margin-left: 1em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    width:30vw;
    height: 100%;
    background-color: white;
    /* justify-content: space-between; */
}

.box_form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* justify-content: space-evenly; */
}

.title{
    margin-top: 1em;
    font-weight: bold;
    font-size: 2.45em;
}

.info{
    color: #949fb2;
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 1.4em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1.15em;
  }

.inputNo{
    border:2px solid red;
    border-radius: 0.3em;
    padding: 0.6em 2em;
    font-size: 1em;
    margin-bottom: 2em;
}

.inputNo,.submit{
    height:9vh;
}
.submit{
    background-color: rgb(1,126,126);
    color: white;
    border:0px;
    cursor: pointer;
    border-radius: 0.2em;
    font-size: 1.6em;
}

.reg{
    margin-top: 1.6em;
    font-size: 1.3em;
}

.regOut{
    display: flex;
    align-items: center;
    justify-content: center;
}